<app-auth-card cardTitle="Crea tu cuenta" cardSubtitle="Regístrate para empezar">
  <form [formRoot]="registerForm" class="flex gap-3 flex-col w-full">
    <!-- <form (submit)="onSubmit($event)" class="flex gap-3 flex-col w-full"> -->
    <p-floatlabel variant="on">
      <input
        pInputText
        id="name"
        type="text"
        [formField]="registerForm.name"
        autocomplete="off"
        fluid
      />
      <label for="name">Nombre</label>
    </p-floatlabel>

    @if (registerForm.name().touched() && registerForm.name().invalid()) {
      <small class="text-red-500">
        @for (error of registerForm.name().errors(); track error.kind) {
          {{ error.message }}
        }
      </small>
    }
    <p-floatlabel variant="on">
      <input
        pInputText
        id="lastName"
        type="text"
        [formField]="registerForm.lastName"
        autocomplete="off"
        fluid
      />
      <label for="lastName">Apellido</label>
    </p-floatlabel>

    @if (registerForm.lastName().touched() && registerForm.lastName().invalid()) {
      <small class="text-red-500">
        @for (error of registerForm.lastName().errors(); track error.kind) {
          {{ error.message }}
        }
      </small>
    }

    <p-floatlabel variant="on">
      <input
        pInputText
        id="phone"
        type="number"
        [formField]="registerForm.phone"
        autocomplete="off"
        fluid
      />
      <label for="phone">Celular</label>
    </p-floatlabel>

    @if (registerForm.phone().touched() && registerForm.phone().invalid()) {
      <small class="text-red-500">
        @for (error of registerForm.phone().errors(); track error.kind) {
          {{ error.message }}
        }
      </small>
    }

    <p-floatlabel variant="on">
      <input
        pInputText
        id="email"
        type="email"
        [formField]="registerForm.email"
        autocomplete="off"
        fluid
      />
      <label for="email">Correo electrónico</label>
    </p-floatlabel>

    @if (registerForm.email().touched() && registerForm.email().invalid()) {
      <small class="text-red-500">
        @for (error of registerForm.email().errors(); track error.kind) {
          {{ error.message }}
        }
      </small>
    }

    <p-floatlabel variant="on">
      <input
        pInputText
        id="password"
        type="password"
        [formField]="registerForm.password"
        autocomplete="off"
        fluid
      />
      <label for="password">Contraseña</label>
    </p-floatlabel>

    @if (registerForm.password().touched() && registerForm.password().invalid()) {
      <small class="text-red-500">
        @for (error of registerForm.password().errors(); track error.kind) {
          {{ error.message }}
        }
      </small>
    }

    <p-floatlabel variant="on">
      <input
        pInputText
        id="confirmPassword"
        type="password"
        [formField]="registerForm.confirmPassword"
        autocomplete="off"
        fluid
      />
      <label for="confirmPassword">Contraseña</label>
    </p-floatlabel>

    @if (registerForm.confirmPassword().touched() && registerForm.confirmPassword().invalid()) {
      <small class="text-red-500">
        @for (error of registerForm.confirmPassword().errors(); track error.kind) {
          {{ error.message }}
        }
      </small>
    }

    <div class="flex items-center">
      <p-checkbox
        inputId="terms"
        name="terms"
        [binary]="true"
        [formField]="registerForm.termsAndConditions"
      />
      <label for="terms" class="ml-2"> Acepto terminos y condiciones. </label>
    </div>

    <div class="flex flex-col items-center gap-4 mt-1">
      <button pButton class="w-full" type="submit" [disabled]="registerForm().submitting()">
        @if (registerForm().submitting()) {
          Enviando...
        } @else {
          Registrarse
        }
      </button>

      <p class="text-sm">
        ¿Ya tienes una cuenta? <a routerLink="/auth/login" class="text-primary">Inicia sesión</a>
      </p>
    </div>
  </form>
</app-auth-card>
